# FinanPy Token (mesmo usado na API REST)
FINANFY_TOKEN=your_token_here

# Local dev (SQLite)
FINANFY_USE_SQLITE=true
FINANFY_DB_PATH=/home/jrmelo/Projetos/finanpy_v2/db.sqlite3

# Produção VPS (PostgreSQL)
FINANFY_USE_SQLITE=false
FINANFY_DB_HOST=127.0.0.1
FINANFY_DB_PORT=5432
FINANFY_DB_NAME=finanpy
FINANFY_DB_USER=finanpy
FINANFY_DB_PASSWORD=xxx