FINANPY_IMAGE=ghcr.io/melojrx/finanpyv2@sha256:replace-with-approved-digest
POSTGRES_DB=finanpy
POSTGRES_USER=finanpy
ALLOWED_HOSTS=finanpy.com.br,www.finanpy.com.br
CSRF_TRUSTED_ORIGINS=https://finanpy.com.br,https://www.finanpy.com.br
SESSION_COOKIE_DOMAIN=.finanpy.com.br
CSRF_COOKIE_DOMAIN=.finanpy.com.br
SECURE_SSL_REDIRECT=true
SECURE_HSTS_SECONDS=31536000
SESSION_COOKIE_SECURE=true
CSRF_COOKIE_SECURE=true
LOG_LEVEL=INFO
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=
DEFAULT_FROM_EMAIL=finanpy-noreply@finanpy.com.br
